{
  "presets": [[
    "@babel/preset-env", {
      "targets": {
        "node": "16.16"
      }
    }
  ], "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@root": "./",
          "@app": "./src",
          "@framework": "./framework",
          "@plugins": "./framework/fastify/plugins",
          "@typings": "./framework/typings"
        }
      }
    ],
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-proposal-async-do-expressions"],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-do-expressions"],
    ["@babel/plugin-proposal-export-default-from"],
    ["@babel/plugin-proposal-throw-expressions"]
  ]
}
